@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#ui {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
    height: 100vh;
    color: white;
}

.hidden {
    display: none !important;
}

.loading {
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 600;
    font-size: 7vmin;
    z-index: 1;
}

.banner {
    position: absolute;
    color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10vmin;
    width: 100%;
    z-index: 1;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#name-banner {
    top: 5%;
}

#name-banner .hidden_banner{
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#diploma-banner {
    top: 3%;
}

#work_experience-banner {
    top: 3%;
}

.background-banner-label {
    background-color: #efefef;
    border: darkgray 1vmin solid;
    padding: 0 1vmin 0 1vmin;
}

.hidden_banner {
    top: -15vmin !important;
    transition: top 1s cubic-bezier(0.34, 1.56, 0.64, 1)!important;
}

#back-button {
    width: 15vmin;
    height: 15vmin;
    position: absolute;
    left: 3vmin;
    top: 3vmin;
    background-color: gray;
    z-index: 2;
    border: darkgray 1vmin solid;
    transition: left 1s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

#back-button:hover {
    background-color: #929292;
}

#back-button:active {
    transform: scale(0.9);
}

.back-image {
    width: 100%;
    height: 100%;

}

.hidden_back-button {
    left: -20vmin !important;
}

.text {
    font-family: "Roboto", sans-serif;
}

.white {
    color: white
}

.content-education {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding-top: 10vmin;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-education-hidden {
    width: 0 !important;
    height: 0 !important;
}

.title-education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vmin;
    border: solid 1vmin #403e36;
    margin-top: 5vmin;
}

.title-education h1 {
    font-size: 6vmin;
    color: #403e36;
}

.title-education h2 {
    font-size: 3vmin;
    color: #575549;
}

.title-education h3 {
    font-size: 3vmin;
    color: #403e36;
}
